body {
  text-align: center;
  font-family: Monaco, Arial, Helvetica, sans-serif;
  margin: 0 auto;
  background: black;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: -20px 0px 0px 0px;
}
h1 {
  font-family: Tangerine;
  font-size: 80px;
  margin: 20px 0px 40px 0px;
}
p {
  margin: 30px 10%;
  line-height: 25px;
}
span {
  color: red;
}
.button-div {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 80%;
}
.resetbutton,
.testbutton,
.move-counter,
.easymode,
.normalmode,
.hardmode {
  font-size: 32px;
  background: black;
  border: 5px solid red;
  border-radius: 5px;
  margin: 15px 10px;
  color: white;
  width: 20%;
  font-family: Monaco, Arial, Helvetica, sans-serif;
}
.resetbutton {
  display: none;
}
.panels {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 5px solid black;
  width: 28%;
  margin: 0 10px;
  height: 90%;
  background-image: linear-gradient(black, rgb(255, 94, 0));
}
.first-panel,
.second-panel,
.third-panel {
  padding: 0px 0px 10px 0px;
  border-radius: 10px;
}
.box {
  padding: 20px 15px;
  margin: 2px 0;
  border: 5px solid black;
  border-radius: 5px;
  background: red;
}
.box-a {
  width: 8%;
}
.box-b {
  width: 18%;
}
.box-c {
  width: 28%;
}
.box-d {
  width: 38%;
}
.box-e {
  width: 48%;
}
.box-f {
  width: 58%;
  display: none;
}
.win-screen {
  display: none;
  margin: 0px 0px 20px 0px;
}
.selected-box {
  margin: 0px 0px 10px 0px;
}
.mobile-move-counter,
.mobile-instructions {
  display: none;
}
.mobile-dropdown {
  max-width: 80%;
}
.toggle-visibility {
  display: none;
}
@media screen and (max-width: 800px) {
  .button-div {
    flex-direction: column;
    align-items: center;
  }
  .resetbutton,
  .testbutton,
  .move-counter,
  .easymode,
  .normalmode,
  .hardmode {
    font-size: 20px;
    margin: 5px 0;
    padding: 5px 0;
    width: 50%;
  }
  .box {
    padding: 10px 5px;
  }
  .panels {
    height: 200px;
  }
  .container {
    height: 250px;
  }
  h1 {
    margin: 0;
    padding: 5px 0px;
  }
  .normal-move-counter {
    display: none;
  }
  .mobile-move-counter {
    display: block;
    width: 30%;
    font-size: 32px;
  }
  .normal-instructions {
    display: none;
  }
  .mobile-instructions {
    display: block;
    margin: 0px 0px 10px 0px;
  }
}
