body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
h1 {
  margin: 20px 0px 0px 0px;
}
p {
  margin: 30px 10%;
}
.resetbutton {
  padding: 10px 20px;
  font-size: 32px;
}
.panels {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 5px solid black;
  width: 28%;
  margin: 0 10px;
  height: 300px;
}
.firstPanel,
.secondPanel,
.thirdPanel {
  padding: 0px 0px 10px 0px;
}
.box-a,
.box-b,
.box-c,
.box-d,
.box-e {
  padding: 10px;
  margin: 2px 0;
  border: 2px solid red;
}
.box-a {
  width: 5%;
}
.box-b {
  width: 15%;
}
.box-c {
  width: 25%;
}
.box-d {
  width: 35%;
}
.box-e {
  width: 45%;
}
